@using MessageBoard.App_Code;

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">Test for website Redirection ~~</p>
</div>

<div class="row">
    @* Column 1 *@
    <div class="col-ms-4">
        @*<h2>Redirection to @ViewBag.Url1</h2>*@
        @*<form action="javascript:completeAndRedrict();" method="post">
            <input type="submit" class="btn btn-primary" name="test_submit" value="Go to Google &raquo;" />
        </form>*@
    </div>
    @* Column 1 end*@


    @* Column 2 *@
    <div class="col-ms-4">
        <h2>Redirection to @ViewBag.Url2</h2>
        @*<button type="button" id="btn_click" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'" value="Go to Google"/>*@
        <h4>The Value is @ViewBag.Message</h4>
        <form action="@Url.Action("Index","Home")" method="get">
            <input type="hidden" id="hi" value="123" />
            <input type="submit" class="btn btn-primary" name="submit" value="HI"/>
        </form>
    </div>
    @*Column 2 end*@


    @*Column 3*@
<div class="col-ms-4">
    <h2>@*Redirection to @ViewBag.Url3*@</h2>
    <p>@*<a class="btn btn-primary" href="">Go &raquo;</a>*@</p>
    <a href="@Url.Action("Call", "Home")" class="btn btn-success">Another Way</a>
</div>
    @*Column 3 end*@


<script>
    function completeAndRedrict() {
        const token = "asdf";

        const xhr = new XMLHttpRequest();
        xhr.open('GET', 'https://www.google.com.tw');
        xhr.send(null);
        console.log('finished');
        //xhr.setRequestHeader('Authorization', 'Bearer ' + token);
        //xhr.setRequestHeader('Content-Type', 'application/json');
        //xhr.setRequestHeader('');
    }
</script>
</div>